body {
  margin: 0;
  width: 100vw;
  max-height: 100vh;
  overflow-y: hidden;
  background-color: #353535;
}

.appRoot {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: #242424;
}

/* HEADER */
.header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background: #1b1b1b;
  color: white;
}

.headerTitle {
  font-size: 18px;
  font-weight: bold;
}

/* BANNER */
.banner {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background: #2a2a2a;
  color: white;
}

.bannerLeft,
.bannerRight {
  width: 50px;
  display: flex;
  justify-content: center;
}

.bannerCenter {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 8px;
}

.bannerTitle {
  flex: 1;
  text-align: center;
  font-weight: bold;
}


/* MAIN AREA */
.mainArea {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* BLADES */
.blade {
  width: 260px;
  background: #262626;
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.2s ease;
  padding: 20px;
}

.blade.closed {
  width: 0;
  overflow: hidden;
}

.bladeHeader {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.bladeBody {
  padding: 10px;
}

/* .workspace {
  flex: 1;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
} */

.workspace {
  position: relative;
  width: 100%;
  height: 100%;
}

.testControls {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.nodeRow {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

/* .node {
  padding: 10px 14px;
  background: #333;
  border: 1px solid #555;
  color: white;
  border-radius: 4px;
} */
 .node {
  display: flex;
  align-items: center;
  justify-content: center;
}

.node.gain {
  background: #444;
}

.node.oscillator {
  background: #333;
}


/* FOOTER */
.footer {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background: #1b1b1b;
  color: white;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.dot.green {
  background: #2ecc71;
}

.audioLevel span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2a2a2a;
  display: inline-block;
}

.audioLevel span.active {
  background: #2ecc71;
}

.footerRight span {
  margin-left: 12px;
}
